@font-face {
  font-family: "poppins-light";
  src: url(../src/font/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "poppins-medium";
  src: url(../src/font/Poppins/Poppins-Medium.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "poppins-light";
}

body {
  background-color: black;
}
/* landing page start */

.landing-page {
  position: absolute;
  width: 100%;
  height: 100vh;
  transform-origin: top;
  transition: 2.5s linear;
  z-index: 99999999;
}

.landing-page.hidden {
  transform: translateY(-5000px);
}

.landing-page .landing-video {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
}

.landing-page .landing-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.landing-page .landing-title {
  top: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  font-family: "poppins-medium";
}

.landing-page .landing-title h1 {
  font-size: 5rem;
  color: rgb(235, 164, 31);
}

.landing-page .landing-title span {
  color: wheat;
}

.landing-page .landing-title .eksplor-button {
  width: 15rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-justify: auto;
  font-size: 2rem;
  color: white;
}
.landing-page .landing-title .eksplor-button:hover {
  background-color: rgb(235, 164, 31);
  border-radius: 5px;
}
/* landing page end */
/* navbar start */
.navbar {
  box-shadow: 0 2px 7px gray;
  top: 0;
  position: fixed;
  padding: 7px 3%;
  background-image: linear-gradient(
    to right,
    rgb(224, 222, 222),
    rgb(235, 164, 31)
  );
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(75, 77, 75);
  z-index: 99999;
}

.navbar .navbar-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10%;
  width: 20%;
  height: 100%;
}

.navbar .navbar-title h1 {
  font-size: 2rem;
  color: rgb(235, 164, 31);
}

.navbar .navbar-title span {
  text-transform: uppercase;
  color: rgb(55, 56, 57);
}

.navbar .navbar-nav {
  width: 40rem;
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.navbar .navbar-nav.active {
  right: 0;
}

.navbar .navbar-nav .link {
  display: inline;
  text-decoration: none;
  font-size: 2rem;
  text-transform: capitalize;
  color: rgb(55, 56, 57);
  transition: 0.2s linear;
  transform-origin: center;
  box-sizing: border-box;
}

.navbar-nav .link:hover {
  color: #fff;
}

.navbar-nav .link::after {
  content: "";
  width: 0%;
  height: 0.2rem;
  background-color: #fff;
  display: block;
  left: 0;
  bottom: -10px;
  transform-origin: left;
  transition: 0.3s linear;
}

.navbar-nav .link:hover::after {
  width: 100%;
}

.navbar .navbar-ekstra {
  width: 10rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar .navbar-ekstra #menu {
  display: none;
}

/* navbar end*/

/* main start */
.hero {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 50rem;
  background-color: rgb(33, 33, 33);
  overflow: hidden;
}

.hero .hero-image {
  box-shadow: -3px 3px 10px black;
  width: 80rem;
  height: 80rem;
  border-radius: 6em;
  right: -23rem;
  position: relative;
  top: 1rem;
  transform: rotate(40deg);
  overflow: hidden;
  object-fit: cover;
}
.hero .hero-image .image {
  position: relative;
  bottom: -5rem;
  width: 100%;
  height: 80%;
  transform: rotate(320deg);
  right: 24rem;
}

.hero .hero-image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  top: 0.5rem;
}

/* main ends */

/* media queries */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 77%;
  }
}

/* main */
.hero .hero-image {
  right: -40rem;
}

@media (max-width: 1000px) {
  /* main */
  .hero .hero-image {
    right: -40rem;
    top: -3rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 6rem;
    right: -1000px;
    width: 20rem;
    height: 50rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  .navbar .navbar-ekstra #menu {
    display: inline;
  }
  /* main */
  .hero .hero-image {
    top: -3rem;
    right: -40rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
}
